{% extends 'main/header.html' %}

{% block content %}
    <div class="row">

        <div class="col s12, m8, l8">
            <h3>{{blog.blog_title}}</h3>
            <p style="font-size:70%">Published {{blog.blog_published}}</p>
            {{blog.blog_content|safe}}
        </div>

        <div class="col s12 m12 l4">
            <ul class="collapsible popout">
                {% for blog in sidebar %}
                    {% if forloop.counter0 == this_tut_idx %}
                        <li class="active">
                            <div class="collapsible-header">{{blog.blog_title}}<br>(currently viewing)</div>
                        </li>
                    {% else %}
                        <li>
                            <div class="collapsible-header">{{blog.blog_title}}</div>
                            <div class="collapsible-body">
                                <p><a href="/{{blog.blog_slug}}"><button class="btn waves-effect waves-light right-align" style="background-color:yellow; color:black">Read post</button></a></p>

                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% if user.is_authenticated %}
        <div class="col s12, m12, l12 ">
          <div class="card-body">
            <h4>Leave a comment</h4>
            <form method="post" style="margin-top: 1.3em;">
              {{ comment_form.as_p }}
              {% csrf_token %}
              <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
            </form>
          </div>
        </div>
        {% else %}
        <div class="col s12, m12, l12 ">
          <a href="/login"><h4>Login to leave a comment</h4></a>
        </div>

        {% endif %}
        <div class="col s12, m12, l12 ">
              <!-- comments -->
              <h4>{{ comments.count }} comments</h4>
              {% for comment in comments %}
              <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                  {{ comment.name }}
                  <span class=" text-muted font-weight-normal">
                    {{ comment.created_on }}
                  </span>
                </p>
                {{ comment.body | linebreaks }}
              </div>
              {% endfor %}
          </div>
{% endblock %}