{% extends "main/header.html" %}
{% load static %}

{% block styles %}
{% endblock %}


{% block content %}
    <h2>Recent Posts</h2>
    <div class="carousel">
        {% for tut in blogs %}
        <a class="carousel-item" href="/{{tut.blog_slug}}"><img src="{% static "main/images/stars.jpg"%}" alt="My image""></a>
        {% endfor %}
    </div>
  	{% for tut in blogs %}
  	    <div class="col s12, m8, l8">
          <div class="divider"></div>
              <h4><a href="/{{tut.blog_slug}}">{{ tut.blog_title }}</a></h3>
              <p style="font-size:70%">Published {{tut.blog_published}}</p>
              {{tut.blog_content|truncatechars:500|safe}}
              <h6><a href="/{{tut.blog_slug}}">Read more...</a></h3>
          </div>
          <div class="divider"></div>
    {% endfor %}
{% endblock %}
