{% extends "main/header.html" %}
{% load static %}

{% block styles %}
 <link rel="stylesheet" href="{% static 'main/css/cv.css' %}">
{% endblock %}


{% block content %}
<!--The main top rpw-->
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#tabProfile">Profile</a></li>
        <li class="tab col s4"><a href="#tabAcademic">Academic</a></li>
        <li class="tab col s4"><a href="#tabExperience">Experience</a></li>
      </ul>
    </div>

    <!--The main top rpw-->
    <div id="tabProfile" class="col s12">

    <h2 >Profile</h2>	
    <br>
    <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>





  	<div class="parallax-container" id="profile-tab-parallax">
	    <div class="parallax">
	      <img src="{% static "main/images/stars.jpg"%}" alt="My image"">
	    </div>
  	</div>

  	<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>


  	<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
  	
    <div class="parallax-container" id="profile-tab-parallax">
	    <div class="parallax">
	      <img src="{% static "main/images/city.jpg"%}" alt="My image"">
	    </div>
  	</div>

  	<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>

    <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>

    </div>





    <!--The main top rpw-->
    <div id="tabAcademic" class="col s12">

    <h2>Academic</h2>
    <br>

    <div class="row">
    	<div class="col s12 m6 l3">
            <div class="center promo promo-example">
             	<i class="large material-icons">language</i>
                <p class="promo-caption">Italian A Level</p>
                <p class="promo-caption">A*</p>
                <p class="light center">My mother language, it enhanced my commincation skills.</p>
            </div>
         </div>

    	<div class="col s12 m6 l3">
            <div class="center promo promo-example">
             	<i class="large material-icons">av_timer</i>
                <p class="promo-caption">Mathematics A Level</p>
                <p class="promo-caption">A*</p>
                <p class="light center">Developed my mathematical, arithmetical and geometrical skills and introduced me to matrices and accounting.</p>
            </div>
        </div>

         <div class="col s12 m6 l3">
            <div class="center promo promo-example">
             	<i class="large material-icons">battery_unknown</i>
                <p class="promo-caption">Physics A Level</p>
                <p class="promo-caption">A*</p>
                <p class="light center">Good chemistry with mathematics, it enhanced my scientifical knowledge.</p>
            </div>
         </div>

         <div class="col s12 m6 l3">
            <div class="center promo promo-example">
             	<i class="large material-icons">computer</i>
                <p class="promo-caption">Computer Science A Level</p>
                <p class="promo-caption">A*</p>
                <p class="light center">It helped me master and improve my logical skills.</p>
            </div>
         </div>
          
    </div>	

     <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>

    </div>


    </div>






    <!--The main top rpw-->
    <div id="tabExperience" class="col s12">
      <h2 >Experience</h2>	
    <br>

  	<div class="parallax-container" id="experience-tab-parallax">
      <div class="parallax">
        <img src="{% static "main/images/stars.jpg"%}" alt="My image"">
      </div>
      <div class="overlay" id="overlay-heading">
        <h2>NCS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="center promo promo-example">
          <i class="large material-icons">assignment_ind</i>
          <h5 class="promo-caption">Event Organiser</h5>
          <p class="promo-caption">⋆Time Management⋆</p>
          <p class="light center">I overlooked and managed events for my team.</p>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="center promo promo-example">
          <i class="large material-icons">leaderboard</i>
          <h5 class="promo-caption">Team Leader</h5>
          <p class="promo-caption">⋆Leadership⋆</p>
          <p class="light center">I boosted my confidence.</p>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="center promo promo-example">
          <i class="large material-icons">face</i>
          <h5 class="promo-caption">TreeTops Volunteer</h5>
          <p class="promo-caption">⋆Soft Skills⋆</p>
          <p class="light center">I raised fund for TreeTops and improved my soft skills such as communication.</p>
        </div>
      </div>
    </div>

  	<div class="parallax-container" id="experience-tab-parallax">
      <div class="parallax">
        <img src="{% static "main/images/stars.jpg"%}" alt="My image"">
      </div>
      <div class="overlay" id="overlay-heading">
        <h2>Rolls Royce</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="center promo promo-example">
          <i class="large material-icons">miscellaneous_services</i>
          <h5 class="promo-caption">Technical Team Lead</h5>
          <p class="promo-caption">⋆Problem Solving⋆</p>
          <p class="light center">I lead the programming team.</p>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="center promo promo-example">
          <i class="large material-icons">airplanemode_active</i>
          <h5 class="promo-caption">Jet Engine & Arduino</h5>
          <p class="promo-caption">⋆Programming⋆</p>
          <p class="light center">I worked with real jet engines and programmed microcontrolelrs to test them.</p>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="center promo promo-example">
          <i class="large material-icons">add_photo_alternate</i>
          <h5 class="promo-caption">Design Team Lead</h5>
          <p class="promo-caption">⋆Creative Thinking⋆</p>
          <p class="light center">I lead the design team and enhanced my CAD skills.</p>
        </div>
      </div>
    </div>

    <div class="parallax-container" id="experience-tab-parallax">
      <div class="parallax">
        <img src="{% static "main/images/stars.jpg"%}" alt="My image"">
      </div>
      <div class="overlay" id="overlay-heading">
        <h2>Derby County</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="center promo promo-example">
          <i class="large material-icons">assignment_ind</i>
          <h5 class="promo-caption">Team Organiser</h5>
          <p class="promo-caption">⋆Critical Thinking⋆</p>
          <p class="light center">I overlooked and managed events for my team.</p>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="center promo promo-example">
          <i class="large material-icons">verified</i>
          <h5 class="promo-caption">Ambassador</h5>
          <p class="promo-caption">⋆networking⋆</p>
          <p class="light center">I met and learned from others.</p>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="center promo promo-example">
          <i class="large material-icons">calendar_today</i>
          <h5 class="promo-caption">Events Planner</h5>
          <p class="promo-caption">⋆Conflict Resolution⋆</p>
          <p class="light center">I learned how  to handle stressful situation.</p>
        </div>
      </div>
    </div>
    
    <!-- last tab-->
    </div>    


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){

      $('.sidenav').sidenav();
      $('.materialboxed').materialbox();
      $('.parallax').parallax();
    });
  </script>
        
{% endblock %}
